@font-face {
  font-family: drippingMarker;
  src: url(fonts/adrip1.ttf);
}

html {
    background-color: gold
}

* {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: aqua;
    padding: 50px 0px 10px 0px;
    border: 20px solid pink;
    border-left: none;
    border-right: none;
    text-align: center;
}

nav a {
    text-decoration: none;
    margin: 5%;
    font-size: 5vw;
    font-family: drippingMarker;
    color: red;
}

section {

}


footer {
    background-color: red;
}
